.h1, h1 {
    font-size: 75px;
}

h2 {
    font-size: 30px;
}

.name {
    padding-top: 3pc;
    padding-bottom: 2pc;
}

.medium-image {
    width: 250px;
}

.row {
    padding-bottom: 2pc;
    padding-left: 15pc;
}

#contact-row {
    padding-left: 35pc;
}

@media (max-width: 991px) {
    #contact-row {
        padding-left: 24pc;
    }
    .project-title {
        padding-left: 10pc;
    }
    .project-image {
        padding-left: 6pc;
    }
}

.seperator-line {
    height: 4px;
    background-color:lightgray;
    color: lightgray;
}

#projects-header {
    padding-bottom: 2pc;
    padding-top: 2pc;
}