body {
    padding-top: 70px;
    font-size: 16px;
    font-family: "Times New Roman", Times, Serif;
}

footer {
    font-size: 16px;
    font-family: "Times New Roman", Times, Serif;
}

pre {
    border: 0;
    background-color: transparent;
    font-size: 16px;
    font-family: "Times New Roman", Times, Serif;
    white-space: pre-wrap;
    word-break: keep-all;
}

.container {
    margin-bottom: 1pc;
}

.spacing {
    padding-bottom: 1pc;
}

.medium-image {
    max
}





