@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color: rgba(109, 172, 153, 0.705);
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin: 2% 5% 0% 5%;
}