body {
    padding-top: 70px;
    font-size: 16px;
    font-family: Helvetica, Times, Serif;
}

footer {
    font-size: 16px;
    font-family: Helvetica, Times, Serif;
}

pre {
    border: 0;
    background-color: transparent;
    font-size: 16px;
    font-family: Helvetica, Times, Serif;
    white-space: pre-wrap;
    word-break: keep-all;
}

p{
    font-family: Helvetica, Times, Serif;
    text-align: left;
}

.container {
    margin-bottom: 1pc;
}

.spacing {
    padding-bottom: 1pc;
}

.pokedex-img {
    max-height: 156px;
}

#second-row {
    padding-top: 30px;
}




